.ChatRoomBar{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: rgba( 51, 54, 69, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.ChatRoomBar .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba( 19, 19, 19, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding:10px;
}

.ChatRoomBar .header button{
    text-align: center;
    margin: 10px 0px;
    margin-top: 0px;
    width: 80px;
    padding: 10px;
    font-size: 16px;
    color: var(--white);
    background: rgba( 204, 0, 0, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.ChatRoomBar .roomname{
    font-weight: 500;
    width: 90%;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ChatRoomBar .members{
    padding:10px min(10%, 20px);
}

.ChatRoomBar .members .member{
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.ChatRoomBar .members .member p{
    margin-left: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}