.ChatRoomBar{
    height: 100%;
    width: 100%;
    background: var(--medium-gray);
    overflow-x: hidden;
}

.ChatRoomBar .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--very-dark-gray);
}

.ChatRoomBar .header button{
    text-align: center;
    margin: 10px 0px;
    margin-top: 0px;
    width: 80px;
    padding: 10px;
    font-size: 16px;
    color: var(--white);
    background: var(--error);
    border-radius: 10px;
    border: none;
}

.ChatRoomBar .roomname{
    width: 90%;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ChatRoomBar .members{
    padding:10px min(10%, 20px);
}

.ChatRoomBar .members .member{
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.ChatRoomBar .members .member p{
    margin-left: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}