.FormattedMessage{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0;
    width: min(500px, 80%);
    word-break: break-all;

    background: rgba( 60, 65, 75, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.FormattedMessage.colored{
    background: rgba( 107, 138, 253, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.FormattedMessage .header{
    font-style: oblique;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--off-gray);
}

.FormattedMessage .header .username{
    font-weight: 600;
}