.Navbar{
    position: relative;
    height: 80px;
    padding: 16px min(8%, 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: rgba( 32, 35, 41, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Navbar img{
    height: 30px;
}

.Navbar .Others{
    display: flex;
    flex-direction: row;
}

.Navbar .Others p{
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    margin-left: 20px;
    cursor: pointer;
}

.Navbar .Others button.logout{
    padding:10px 16px;
    color: var(--white);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background: rgba( 204, 0, 0, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media screen and (max-width:600px) {
    .Navbar .Others p{
        font-size: 14px;
        margin-left: 10px;
    }

    .Navbar img{
        height: 20px;
    }
}

@media screen and (max-width:300px) {
    .Navbar .Others p{
        font-size: 12px;
        margin-left: 10px;
    }

    .Navbar img{
        height: 16px;
    }
}