.Sidebar{
    height: 100%;
    width: 100%;
    background: var(--very-dark-gray);
}

.Sidebar .icons{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    padding-top: 20px;
}

.Sidebar .icons > *{
    opacity: 50%;
    transition: 0.2s all;
}

.Sidebar .icons > *:hover{
    opacity: 100%;
    transition: 0.2s all;
}

.Sidebar .icons .selected{
    opacity: 100%;
}

.Sidebar .icons > *{
    margin: 20px 0px;
    cursor: pointer;
}

.Sidebar .icons a{
    text-decoration: none;
    color: var(--white);
}

@media screen and (max-width:600px){
    .Sidebar .icons{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        padding-top: 0px;
    }

    .Sidebar .icons > *{
        margin: 0px;
    }
}