.Templated{
    height: 100svh;
    width: 100%;
    overflow: hidden;
}

.Templated .playground{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: calc(100% - 80px);
    background: transparent;
}

.Templated .playground .bar{
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    max-width: 90px;
    min-width: 70px;
    width: 8%;
}

.Templated .playground .ground{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

@media screen and (max-width:600px){
    .Templated .playground{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .Templated .playground .bar{
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        max-height: 80px;
        min-height: 60px;
        height: 5%;
    }
}