.TextField{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.TextField label{
    color: var(--off-gray);
}

.TextField input{
    width: 100%;
    min-width: 0px;
    font-family: 'Poppins', sans-serif;
    padding: 16px 20px;
    color: var(--white);
    background: rgba( 60, 65, 75, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.TextField input:focus{
    outline: 2px solid var(--accent-blue);
    background: var(--whiter-gray);
}

.TextField input.error{
    outline: 2px solid var(--error);
}