.Chatroom{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: var(--dark-gray);
    justify-content: space-between;
    overflow: hidden;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
    background-size: cover;
}

.Chatroom .sidebar{
    position: relative; 
    right: 0%;
    width: 20%;
    height: 100%;
    max-width: 200px;
    min-width: 160px;
    overflow-y: auto;
    transition: 0.2s all ease;
    padding:10px;
}

.Chatroom .open-hamburger{
    position: fixed;
    height: auto;
    bottom:80px;
    right:30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--very-dark-gray);
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    z-index: 1;
}

.Chatroom .chatwindow{
    position: relative;
    height: auto;
    width: 100%;
    padding: 0px 20px;
}

.Chatroom .chatwindow .chats{
    width: 100%;
    height: calc(100% - 60px);
    padding: 20px;
    overflow-y: scroll;
}

.Chatroom .chatwindow .chats .chat{
    display: flex;
    justify-content: flex-start;
}

.Chatroom .chatwindow .chats .myside{
    justify-content: flex-end;
}

.Chatroom .chatwindow .sender{
    width: 100%;
    height: 60px;
}

@media screen and (max-width:600px) {
    .Chatroom .sidebar{
        display: none;
    }

    .Chatroom .open-hamburger{
        display: none;
    }

    .Chatroom .chatwindow{
        padding: 0px;
    }
}