.Drawroom{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Drawroom canvas{
    background: white;
    width: 100%;
    border: 1px solid var(--accent-blue);
}

.Drawroom button{
    position: absolute;
    top:20px;
    right:20px;
    padding: 10px 20px;
    background: var(--error);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    border: none;
    border-radius: 10px;
}