.Drawroom{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.Drawroom .canvascontainer{
    position: relative;
    padding: 20px;
    width: 100%;
    height: auto;
    max-width: 1920px;
}

.Drawroom canvas{
    height: 100%;
    width: 100%;
    position: relative;
    background: white;
    border: 1px solid var(--accent-blue);
}

.Drawroom .tool-hamburger{
    position: fixed;
    height: auto;
    bottom:20px;
    right:30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--very-dark-gray);
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    z-index: 1;
}

.Drawroom .tooler{
    position: fixed;
    height: auto;
    bottom:80px;
    right:30px;
    padding: 20px;
    background: var(--light-gray);
    color: var(--white);
    border: none;
    border-radius: 10px;
    z-index: 1;
    transition: all 0.2s ease;
}

.Drawroom .tool{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    background-color: var(--very-dark-gray);
    margin-bottom: 10px;
    cursor: pointer;
}

.Drawroom .tool:last-child{
    margin-bottom: 0px;
}

.Drawroom .tool.leave{
    background-color: var(--error);
}

.Drawroom .tool .popup{
    position: absolute !important;
    top:-40px;
    right:0;
}

@media screen and (max-width: 900px) {
    .Drawroom .tool{
        font-size: 18px;
        padding: 6px;
    }    
}