@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --very-dark-gray: #131313;
  --dark-gray: #202329;
  --medium-gray: #333645;
  --accent-blue: #1e90ee;
  --light-gray: #3c414b;
  --whiter-gray: #505050;
  --very-whiter-gray: #919191;
  --white: #FFFFFF;
  --off-gray: #bdbdbd;
  --error: #CC0000;
  --second-blue: #6B8AFD;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--light-gray);
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: var(--accent-blue);
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.no-scrollbar::-webkit-scrollbar { 
  display: none;  
}